/* ¡¡¡¡¡¡¡¡¡¡     HEADER     !!!!!!!!!!! */

@import url('https://fonts.googleapis.com/css2?family=Crushed&display=swap');
@import "variables";
@import "mixins";

*{
    font-family: $font;
}

header {
        font-family: $font;
        nav {
            .navbar-nav {
                li {
                    font-size: x-large;
                    .nav-link {
                        &:hover {
                        cursor: pointer;
                        color: $color-fondo;
                        }
                    }
                }
            }
        }
    }

/*¡¡¡¡¡¡¡¡¡¡     FOOTER     !!!!!!!!!!!!*/

.pie {
    font-family: $font;
    text-decoration: none;
    font-size: 1em; 
    text-align: center;
    margin-top: 100px;
}
/*¡¡¡¡¡¡¡¡¡     TITULOS     !!!!!!!!!!!*/

.titulo {
    color: $color-tituloS;
    font-family: $font;
    margin: 2em;
    font-size: 300%;
}

/*¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡    INDEX    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.body {
    background-image: url(../images/Pauli-portada.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 600px;
    background-position: right;
    background-origin: content-box;
}

/*¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡   MAIN   !!!!!!!!!!!!!!!!!!!!!!!!!*/

main {
    section {
        .container {
            .sale {
                text-decoration: none;
                font-family: $font;
                color: #e470c3;
                font-size: 70px;

                &:hover {
                    cursor: pointer;
                    color: $color-fondo;

                }
            }
        }

        .container {
            .off {
                color: rgb(205, 195, 205);
                font-family: $font;
                font-size: 10em;
            }
        }

        div {
            div {
                div {
                    .h1-index {
                        font-size: 0.8cm;
                        font-family: $font;
                        text-shadow: 0px 5px 8px rgba(247, 3, 186, 0.25);
                        text-align: center;
                        color: $color-black;
                        margin-top: 250px;
                        margin-bottom: 100px;
                        z-index: 50px;
                    }
                }
            }
        }
    }
}
        
/*¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡           PRODUCTOS             !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

main {
    .container2 {
        justify-items: center;
            .card {
                align-items: center;
                background-color: $color-fondo;
                @include card-productos (460px, 900px, 20px);
                justify-content: center;
                .card-body {
                    /*margin: 0.4cm;*/
                    margin-top: 0.4cm;
                    /*background-color: $color-fondo;*/
                    .card-title {
                        font-family: $font;
                        color: $color-tituloS;
                        text-align: center;
                        }
                    }
                }
            .card-top {
                align-items: center;
                background-color: $color-fondo;
                @include card-top (460PX, 340px, 20px);
                .card-body {
                    margin: 0.4cm;
                    margin-top: 0.4cm;
                    background-color: $color-fondo;
                    .card-title {
                        font-family: $font;
                        color: $color-tituloS;
                        text-align: center;
                        }
                    }
                }
            }
    .container1 {
            .buscarformulario {
                color: $color-black;
                font-family: $font;
                margin: 2em;
                font-size: large;
            }   
        }    
    }

/*¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡             METODOS DE COMPRA            !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

main {
    .card {
        .card-body {
           /* margin: 0.4cm;
            margin-top: 0.4cm;*/
            background-color: $color-fondo;
            .card-title {
                .card-text {
                    font-family: $font;
                    color: $color-black;
                    text-align: center;
                    margin-top: 2em;
                    .listamediospago {
                        font-family: $font;
                        color: $color-black;
                        text-align: center;
                        li {
                            list-style-type: none;
                            text-align: center;
                        }
                    }
                }   
            }
        }
    }
}
/*¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡             NOSOTROS            !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

article {
    .card {
        background-color: $color-fondo;
        align-content: center;
        .card-body {
            .card-text {
                padding: 20px;
            }
        }
    }  
} 
.logoentero {
    width: 8cm;
    top: 1000px;
    left: 100px;
    margin-left: 100px;
}

/*¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡              CONTACTO            !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

main {
    section {
            .mb-3 {
                margin: 50px;
                .form-label {
                    font-family: $font;
                    color: $color-black;
                    margin: 2px;
                    }
                } 
    .comentario {
                font-family: $font;
                color: $color-tituloS;
                margin: 50px 100px;
                font-size: x-large;
                text-align: center;
            }
        }
    } 
